[flake8]
max-line-length = 100
extend-ignore = E203, W503, D100, D101, D102, D103, D104, D105, D106, B008, B009
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    .eggs,
    *.egg,
    build,
    dist

per-file-ignores =
    __init__.py:F401
    backend/app/main.py:F405
